<% provide(:title, "Contact") %>
<div class="jumbotron">
  
  <address>
  <strong>Scott Zhou</strong><br>
  <abbr title="Location">@</abbr> Stockholm, Sweden<br>
  <a href="mailto:<%= my_email %>">vallentuna@stockholm.swe</a><br>
  <a href="https://www.facebook.com/scott.cong.zhou">Facebook</a><br>
  <a href="https://twitter.com/ScottCongZhou">Twitter</a><br>
  </address>

</div>
